# 忽略所有.npy文件
*.npy

# 忽略所有.log文件
*.log

# 忽略.vscode文件夹
.vscode/

# 忽略所有.pyc文件
*.pyc

# 忽略__pycache__文件夹
__pycache__/
.git/
# 忽略logs文件夹
logs/
npy/
cache/
gen3process/
# 忽略所有名为node_modules的文件夹（无论在哪个目录下）
**/node_modules
/ipynb
# Web frontend logs and build artifacts
/web/node_modules
/web/dist
/web/dist-ssr
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/pnpm-debug.log*
/web/lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?