# 忽略所有.npy文件
*.npy

# 忽略所有.log文件
*.log

# 忽略.vscode文件夹
.vscode/

# 忽略所有.pyc文件
*.pyc

# 忽略__pycache__文件夹
__pycache__/
.git/
# 忽略logs文件夹
logs/
npy/
cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
